Emacs/.config/emacs/*
!Emacs/.config/emacs/init.el
!Emacs/.config/emacs/config.el
!Emacs/.config/emacs/README.org

Zsh/.config/zsh/*
!Zsh/.config/zsh/.zshrc

Scripts/.local/*
!Scripts/.local/bin
Scripts/.local/bin/pip*
